:root{
    /* Màu chuyển */
    
    /* Giao dien toi */
    --mainColor: orange!important;
    --mainBackground: orange!important;
    --colorWhite: white!important;
    --colorBlack: black!important;
    --backgroundDarkMode: #333!important;
    --backgroundWhite: white!important; 
    --backgroundCustom: #bfbfbf;
}

/* Mobile & Tablet */
@media (max-width: 992px){
    .carousel-caption{
        margin-top: 0;
    }
    .titi a.hover-black:hover::after{
        display: none;
    }
    .x1{
        width: 100%;
    }
    .none{
        display: none!important;
    }
    .status-pc{
        display: none;
    }

    ::-webkit-scrollbar{
        display: none;
    }
    ::-webkit-scrollbar-track{
        display: none;
    }
    ::-webkit-scrollbar-thumb{
        display: none;
    }

    .sidebar{
        display: block;
    }



    
/*navbar (Menu chính)*/
.status{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 50px;
    background: #444;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.btn-1{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 5px 10px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition: left 0.4s ease;
}
.btn-1:hover{
    color: orange;
}

span.xoa{
    display: block;
    color: #ccc;
}
span.xoa.v{
    display: none;
}
i.xoa{
    display: none;
}
i.xoa.y{
    display: block;
    color: #ccc;
}



.btn2{
    display: flex;
    background: transparent;
    align-items: center;
    font-size: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
}
.btn2 span{
    padding: 0 10px;
    color: #ccc;
}
.btn2:hover{
    color: orange;
}

.search{
    top: -300px;
    left: 0;
    position: absolute;
    background: #3b3b3b;
    width: 100%;
    height: 51px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.4s ease;
}
.search.down{
    top: -1px;
}
.nhap{
    display: flex;
    width: 95%;
}
i.vn{
    margin-left: -35px;
    color: #666;
    margin-top: 16px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}
.search input{
    padding: 10px 35px 10px 10px;
    border: none;
    color: black;
    outline: none;
    width: 100%;
    font-size: 20px;
    margin: 0 5px;
    margin-top: 2.5px;
}
span.form{
    background: transparent;
    align-items: center;
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
    padding: 5px 10px;
}
span.form:hover{
    color: orange;
}

    .carousel-indicators{
        display: none!important;
    }

    ul.d-flex.justify-content-center.mt-3{
        display: block!important;
    }
    li.d-flex.mr-3,
    li.d-flex{
        justify-content: center;
    }
    .container{
        max-width: none!important;
    }
    .big-node{
        font-size: 30px;
        padding: 0 10px;
    }


    /*card view*/
    .card-view{
    max-width: 100px;height: 100px;
    background: url(https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/118004610_1224927524518916_7545531362921983475_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=2zyg-yQyjGEAX-kN1JN&_nc_ht=scontent-sin6-2.xx&oh=6a2e3b7d68c7e561e7f30558f62618ef&oe=5F6FC052);
    background-size: cover;
    border-radius: 50%;display: flex;justify-content: center;margin: 30px auto 10px auto;
    }
    .card-view::after{
        content: '';
        width: 100px;
        height: 100px;
        border: 3px solid white;
        border-radius: 50%;
        background: transparent;
    }
    /*Logo*/
    .logo{
        height: 40px;
        padding: 3px 0;
            margin-left: 40px;
    }
    /*End logo*/
    .box-user {
        width: 35px;
        height: 35px;
        margin-top: 2px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .sidebar{
        width: 50%;
    }



}

/* Mobile */
@media (max-width: 739px){
    .sidebar{
        width: 85%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .titi{
        
        display: block;
    }
    .coment{
        margin-top: 0;
        border: none;
        box-shadow: none;
        padding-top: 20px;
        padding-right: 0;
        padding-left: 0!important;
    }
    .comnet2{
        border: none;
        margin-top: 0;
    }
    .x1{
        box-shadow: none;
        width: 100%;   
        overflow: hidden; 
    }
    .role{
        display: flex;
        font-size: 20px;
        padding-bottom: 5px;
        font-size: 13px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 23px;
    }
    a.user{
        border-right: none;
    }
    img.hai{
        width: 100%!important;
        height: auto;
    }
    a.trang{
        margin-right: 10px;
    }
    a.trang1{
        margin-right: 10px;
        margin-left: 10px;
    }
    nav ul li a {
        padding-left: 20px;
    }
    .header {
        width: 100%;
        border: none;
        padding: 10px;
    }
    p.to{
        font-size: 23px;
    }
    p.nho{
        font-size: 20px;
    }
    ul.boder{
        font-size: 17px;
        padding: 10px 0px 10px 40px;
    }

 
    .carousel-caption h3{
        overflow-y: scroll!important;
        max-height: 75px;
    }

    .toggle-switch{
        margin-right:5px ; 
    }

    button.btn.btn-outline-light.btn-lg.text-dark,
    button.btn.btn-primary.btn-lg
    {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;    
    }
    .main-content{
        padding: 10px 15px;
    }
    button.btn.btn-outline-light.text-dark,
    button.btn.btn-primary{
        display: none;
    }

    i.fas.fa-user.left, i.fas.fa-clock.left{
        font-size: 10px;
    }
    span.time{
        padding: 0;
    }

    .wrapper {
        width: 100%;
        padding: 10px 0;
        overflow-y: scroll;
    }
    .login-form{
        margin-top: 25px;
    }
} 