*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: url(mountain.jpg),no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    background: #666;
    width: 14px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 0.9px;
}
::-webkit-scrollbar-thumb{
    background: rgb(56, 56, 56);
}
.abc{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
/*menu mobile & tablet*/
.status{
    display: none;
}

/*menu pc*/
.status-pc{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 50px;
    background: rgba(109, 109, 109, 0.76);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.nav-bar{
    display: flex;
    width: auto;
    height: 100%;
}
.botom-o{
    margin-top: -5px!important;
    margin-left: 0px!important;
    margin-right: 5px!important;
    max-width: 115px!important;
    padding: 0 5px!important;
}
ul.list li.items-active a.des{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    line-height: 50px;
}
ul.list li.items a.des {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    line-height: 50px;
}
.nav-bar a.red img{
    width: 150px;
    height: 100%;
}
.search-pc{
    display: flex;
    padding: 5px;
}
.search-pc input{
    align-items: center;
    background: white;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-pc span.findx{
    font-size: 25px;
    color: white;
    padding: 8px 10px 0px 10px;
    background: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-pc span.findx:hover{
    color: orange;
    cursor: pointer;
}
/*css cho .menu*/
.menu{
    width: auto;
    height: 100%;

}
.menu ul.list{
    list-style: none;
    display: inline-flex;
    line-height: 50px;
    color: white;
    height: 100%;
}
ul.list li.items{
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.items-active, ul.list li.items:hover{
    background: #666;
    color: black;
    line-height: 50px;
}
ul.list li.items span.m{
    margin-right: 5px;
    line-height: 50px;
}

li.items span.m:hover{
    transition: 0.5s;
    transform: rotate(180deg);
}
.father{
    display: none;

}
ul.child{
    margin-left: 10px;
}
ul.child-son{
    margin-left: 10px;
}
ul.child-son2{
    margin-left: 0px;
}
li.items ul.child li.kid{
    background: rgba(109, 109, 109, 0.76);
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    list-style: none;
    display: flex;
    justify-content: center;
}
li.items ul.child li.kid:last-child{
    border-bottom: none;
}
li.items ul.child li.kid:hover{
    background: #444;
    color: black;
}
ul.list li.items:hover .father{
    display: block;
    margin-left: -10px;
}
.son{
    display: none;
}

li.kid:hover .son{
    display: block;
    margin-top: 0px;
    position: absolute;
    margin-left: 95px;
}
/*vùng tối*/
.dark{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    color: #ccc;
}
.on{
    display: block;
}

/*Menu mobile*/
.sidebar{
    position: fixed;
    z-index: 6;
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    left: -900px;
    background: rgb(59, 59, 59);
    transition: left 0.4s ease;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.sidebar.active{
    left: 0px;
}

span.x{
    cursor: pointer;
    background: gray;
    float: right;
    width: 35px;
    height: 35px;
    padding: 5px 10px 0px 10px;
}
span.x:hover{
    color: orange;
}
span.main{
    display: flex;
    justify-content: center;
    padding: 10px;
}
a.log{
    background: #666;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.205);
    font-size: 15px;
    width: auto;
    display: block;
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    padding: 0 10px;
}
a.log:hover {
    color: orange;
    background: rgb(77, 76, 76);
}
span.main:hover{
    color: orange;
}

.text{
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
    background: rgba(41, 41, 41, 0.5);
    letter-spacing: 2px;
    color: white;
}
nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    line-height: 60px;
}


nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    padding-left: 40px;
    border-left: 3px solid transparent;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li a:hover{
    color: orange;
    background: rgb(77, 76, 76);
    border-left-color: orange;
}
nav ul li.acc{
    color: orange;

}
nav ul ul.child,
nav ul ul.child2{
    position: static;
    display: none;
}
ul.child.active{
    display: block;
}
ul.child2.active2{
    display: block;
}
nav ul ul li{
    line-height: 42px; 
    border-bottom: none;
}
nav ul ul li a{
    font-size: 15px;
    color: #ccc;
    line-height: 60px;
    background: rgb(44, 44, 44);
}

nav ul ul li a:hover{
    color: orange;
    background: rgb(77, 76, 76);
}
ul.list li a span{
    position: absolute; 
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 25px;
    transition: 0.5s;
}
ul.list li a span.rotate{
    transform: translateY(-50%) rotate(180deg);
}


/*Nội dung phần thân*/
.coment{
    width: 100%;
    display: block;
    height: auto;
    margin: 50px 0 0 0;
    background: url(mountain.jpg), no-repeat cover;
}

.titi{
    display: flex;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.5);
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}
img.hai{
    width: 280px;
    height: 195px;
    padding-top: 5px;
    padding-left: 5px;
    position: relative;
}

span.title{
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
}
a.trang1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(156, 102, 0);
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: orange;
}
.role{
    display: flex;
    font-size: 25px;
}
.user{
    display: flex;
    justify-content: center;
}
.time{
    display: inline-flex;
    color: white;
}
a.user{
    padding: 0 5px;
    border-right: 2px solid white;
}

i.fas.fa-user.left,
i.fas.fa-clock.left
{
    margin: 5px 0 0 5px;
}
span.time{
    padding: 0 5px 0 5px;
}
h2 {
    font-size: 30px;
    padding: 5px;
}
a.tin-tuc:hover{
    color: rgb(167, 108, 0);
}
a.content1:hover{
    color: rgb(167, 108, 0);
}
a.user:hover{
    color: rgb(167, 108, 0);
}

/*chuyentrang*/
.chuyentrang{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
}
a.trang{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: black;
    color: white;
    margin-right: 20px;
    box-shadow: 0 0 5px 0 #fff;
}

a.trang:hover{
    background: orange;
}
a.trang1{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: rgb(156, 102, 0);
    color: white;
    margin-right: 20px;
    box-shadow: 0 0 5px 0 #fff;
}
span.number{
    padding: 3px 0;
    display: block;
    text-align: center;
    font-size: 25px;
}

/*css cho trang thứ 2*/
.header{
    width: 80%;
    margin: auto;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.678);
    border-top: none;
    background: rgba(0, 0, 0, 0.5);
}
.header .news{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

a.new h1.title{
    color: orange;
}
a.new h1.new-title{
    color: white;
}
.cen{
    margin-top: 5px;
    justify-content: center;
}
p.to{
    font-size: 30px;
    color: orange;
}
.botom{
    margin-top: 20px;
    border-bottom: 1px solid white;
}
img.pic{
    width: 100%;
    margin-top: 20px;
    height: auto;
}
p.nho{
    font-size: 25px;
    color: white;
}
ul.boder{
    padding: 10px 50px;
    background: white;
    box-shadow: 0 0 16px -1px rgba(0,0,0,.2);
    border-radius: 10px;
    font-size: 25px;
    margin-top: 20px;
}
ul.boder li.bro{
    padding: 0 10px;
    list-style: square;
}
.endtask{
    background: white;
    padding: 5px;
    border-radius: 10px;
    float: right;
    font-size: 20px;
    box-shadow: 0 0 16px -1px rgba(0,0,0,.2);
}
span.tag{
    font-size: 30px;
    color: orange;
}
a.vien{
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    margin: 10px 0 50px 0;
    color: orange;
}
.cach{
    margin: 20px 0;
}
i.fas.fa-user.left {
    color: white;
}
.black{
    border-bottom:1px solid black!important;
}