/* Mobile & Tablet */
@media (max-width: 1023px){

    .x1{
        width: 100%;
        margin-top: 50px; 
    }
    .none{
        display: none!important;
    }
    .status-pc{
        display: none;
    }

    ::-webkit-scrollbar{
        display: none;
    }
    ::-webkit-scrollbar-track{
        display: none;
    }
    ::-webkit-scrollbar-thumb{
        display: none;
    }
    .footer-bar{
        display: block;
    }
    .sidebar{
        display: block;
    }

    /*vùng tối*/
    .dark{
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: none;
        color: #ccc;
        z-index: 1;
    }
    .on{
        display: block;
    }

    
/*navbar (Menu chính)*/
.status{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 50px;
    background: rgba(109, 109, 109, 0.76);
    display: flex;
    padding: 5px;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.btn-1{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 5px 10px;
    font-size: 25px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    transition: left 0.4s ease;
}
.btn-1:hover{
    color: orange;
}

span.xoa{
    display: block;
}
span.xoa.v{
    display: none;
}
i.xoa{
    display: none;
}
i.xoa.y{
    display: block;
}

a.red{
    width: 150px;
    height: 50px;
    margin-top: -10px;
}
a.red img{
    width: 100%;
    height: 100%;
}

.btn2{
    display: flex;
    background: transparent;
    align-items: center;
    font-size: 25px;
    width: 40px;
    height: 40px;
    color: #ccc;
    cursor: pointer;
    justify-content: center;
}
.btn2 span{
    padding: 0 10px;
}
.btn2:hover{
    color: orange;
}

.search{
    top: -300px;
    left: 0;
    position: absolute;
    background: #3b3b3b;
    width: 100%;
    height: 51px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.4s ease;
}
.search.down{
    top: -1px;
}
.nhap{
    display: flex;
    width: 95%;
}
i.vn{
    margin-left: -35px;
    color: #666;
    margin-top: 16px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}
.search input{
    padding: 10px 35px 10px 10px;
    border: none;
    color: black;
    outline: none;
    width: 100%;
    font-size: 20px;
    margin: 0 5px;
    margin-top: 2.5px;
}
span.form{
    background: transparent;
    align-items: center;
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
    padding: 5px 10px;
}
span.form:hover{
    color: orange;
}
    .footer-bar{
    bottom: 35px;
    position: absolute;
    width: 100%;
    background-color: #444;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0);
    }
    .footer-bar .info-list{
        display: flex;
        justify-content: center;
    }
    .footer-bar .info-list span{
        color: white;
        font-size: 40px;
        margin: 10px;
    }
    .footer-bar .info-list span:hover{
        color: orange;
        cursor: pointer;
    }
    .carousel-indicators{
        display: none!important;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .sidebar{
        width: 50%;
    }



}

/* Mobile */
@media (max-width: 739px){
    .sidebar{
        width: 70%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .coment{
        padding: 0;
    }
    .titi{
        display: block;
        padding: 5px 0;
        text-align: center;
    }
.col-lg-8.col-md-12.col-sm-12{
    padding: 0;
  
.x1{
    box-shadow: none;
    width: 100%;    
}
    .role{
        display: block;
        font-size: 20px;
        justify-content: center;
        padding-bottom: 5px;
        font-size: 17px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 23px;
    }
    a.user{
        border-right: none;
    }
    img.hai{
        padding-left: 0;
        width: 240px;
        display: flex;
        margin: 0 auto;
    }
    a.trang{
        margin-right: 10px;
    }
    a.trang1{
        margin-right: 10px;
        margin-left: 10px;
    }
    nav ul li a {
        padding-left: 20px;
    }
    .header {
        width: 100%;
        border: none;
        padding: 10px;
    }
    p.to{
        font-size: 23px;
    }
    p.nho{
        font-size: 20px;
    }
    ul.boder{
        font-size: 17px;
        padding: 10px 0px 10px 40px;
    }

    }

    .carousel-caption h1{
        font-size: 22px;
    }
    .carousel-caption h3{
        font-size: 15px;
    }

    button.btn.btn-outline-light.btn-lg.text-dark,
    button.btn.btn-primary.btn-lg
    {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;    
    }

} 