*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;  
}
body{
    background: #ccc!important;
    overflow-x: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    background: #666;
    width: 14px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 0.9px;
}
::-webkit-scrollbar-thumb{
    background: rgb(56, 56, 56);
}

.x1{
    width: 1200px;
    margin: 0 auto;
    background: #f7f7f7;
    box-shadow: 0 0 5px rgba(0,0,0,1);
}

h1{
    font-size: 25px!important;
}
h2{
    font-size: 1.5rem!important;
}
.abc{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
/*menu mobile & tablet*/
.status{
    display: none;
}

/*menu pc*/
.status-pc{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
    background: #444;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)
}
.full-pc{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.nav-bar{
    display: flex;
    width: auto;
    height: 100%;
}
.botom-o{
    margin-top: -5px!important;
    margin-left: 0px!important;
    margin-right: 5px!important;
    max-width: 115px!important;
}
a.des{
    position: relative;
    color: white;
}
a.des:hover{
    color: white;
}

a.des:before{
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: orange;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
}
a.des:hover:before{
  width: 100%;
  left: 0;
}

ul.list li.items-active a.des,span.emlty{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    line-height: 50px;
}
ul.list li.items a.des
{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    line-height: 50px;
}
.nav-bar a.red img{
    width: 150px;
    height: 100%;
}

i.far.fa-sun{
    font-size: 25px;
    color: white;
    line-height: 50px;
}
i.far.fa-sun:hover{
    color: orange;    
}
#darkmode:hover{
    cursor: pointer;
}
/*thanh tim kiem pc*/

.box1{
    width: 300px;
    height: 40px;
    display: flex;
    margin: 5px 0px 5px 5px;
    border: 1px solid rgba(0,0,0,0.1); 
}


.box1 .ip-data{
  width: 100%;
  position: relative;
  display: flex;
}
.box1:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.box1 .ip-data input{
  height: 100%;
  width: 100%;
  border: none;
  padding: 0 5px;
  outline: none;
  font-size: 17px;
}

.ip-data input:focus ~ label,
.ip-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}
.box1 .ip-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.ip-data .underline{
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
}
.ip-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: orange;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
.ip-data input:focus ~ .underline:before,
.ip-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

/*css cho .menu*/
.nav .logo{
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 110px;
}
.nav{
  height: 50px;
  width: 100%;
}
.nav ul{
    line-height: 50px;
    font-style: 18px;
}
.nav ul li{
  display: inline-block;
  padding: 0 10px;
}
.nav ul li .fas{
    margin: 0 5px;
}
.nav ul li a{
  color: white;
  align-items: center;
  transition: .3s;
}
.nav ul li a:hover,
.nav ul li a.active{
  color: orange;
}
.nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 1px solid black;
  opacity: 0;
  visibility: hidden;
}
.nav ul li:hover > ul{
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear; 
}
.nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  background-color: #444;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-top: none;
}
/*.nav ul ul li a{
  line-height: 40px;
}*/
.none-pd{
    padding: 0px!important;

}
.ml15px{
    padding: 0 0 0 10px;
}
.nav ul ul ul{
  border-top: none;
}
.nav ul ul ul li{
  position: relative;
  top: -50.7px;
  left: 150px;
}
.nav ul ul ul li:first-child{
    border-top: 1px solid rgba(0,0,0,0.5);
}
.nav ul ul li a i{
  margin-left: 45px;
}


/*Menu mobile*/
.sidebar{
    display: none;
    position: fixed;
    z-index: 6;
    top: 50px;
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    left: -900px;
    background: rgb(59, 59, 59);
    transition: left 0.4s ease;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.sidebar.active{
    left: 0px;
}

i.x{
    color: white;
    position: absolute; 
    top: 18px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

i.x:hover{
    color: orange;
}


.text{
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
    background: rgba(41, 41, 41, 0.5);
    letter-spacing: 2px;
    color: white;
}
nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
}


nav ul li .list-click,
.list li a.vg{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 40px;
    border-left: 3px solid transparent;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li .list-click:hover,
.list li a.vg:hover{
    color: orange;
    background: rgb(77, 76, 76);
    border-left-color: orange;
    text-decoration: none;
}
nav ul li.acc{
    color: orange;

}
nav ul ul.childbar,
nav ul ul.child2{
    position: static;
    display: none;
}
ul.childbar.active{
    display: block;
}
ul.child2.active2{
    display: block;
}
nav ul ul li{
    line-height: 42px; 
    border-bottom: none;
}
nav ul ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 40px;
    border-left: 3px solid transparent;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul ul li a:hover{
    color: orange;
    background: rgb(77, 76, 76);
}
ul.list li .list-click span{
    position: absolute; 
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 25px;
    transition: 0.5s;
}
ul.list li .list-click span.rotate{
    transform: translateY(-50%) rotate(180deg);
}
.footer-bar{
    display: none;
}
.ttc{
    display: block;
    padding: 0 0 0 15px;
}
.d-flex h6{
    padding: 2px;
}
/*Nội dung phần thân*/
.coment{
    height: auto;
    border: 1px solid #e6e6e6;
    padding: 20px 20px 0 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px; 
}
.coment2{
    border: 1px solid #e6e6e6;
    padding: 20px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.widget-title{
    position: relative;
    width: 100%;
    line-height: 1;
    padding: 0 0 35px;
    margin: 0 0 20px;
    border-bottom: 2px solid #ebebeb;
}
.widget-title > h3 {
    float: left;
    font-size: 18px;
    color: #171c24;
    font-weight: 700;
    margin: 0;
}
.widget-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    background-color: #ff3d00;
    margin: 0 0 -2px;
}
.widget-content {
    width: 100%;
    padding: 0;
    margin: 0;
}
.list-label ul{
    margin: 0;
}
.list-label li{
    position: relative;
    display: block;
    margin: 10px 0; 
}
.list-label li:first-child a{
    padding: 0 0 5px;
}.list-label li:last-child{
    margin: 10px 0 0 0;
}
.list-label .label-count{
    float: right;
    font-size: 15px;
    color: #aaaaaa;
    text-decoration: none;
    margin: 1px 0 0 5px;
}
.cloud-label ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0; 
}
.cloud-label li {
    position: relative;
    display: flex;
    margin: 0 5px 7px 0;
}
.cloud-label li a {
    display: block;
    height: 30px;
    background-color: rgba(155,155,155,0.05);
    color: #666;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    padding: 0 9px;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom-width: 2px;
    border-radius: 2px;
}
.cloud-label li a:hover{
    color: black;
}
.titi{
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 30px 0;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.titi:first-child{
    margin: 0!important;
}
.titi a{
    transition: 0.3s;
}
.titi a:hover{
    transform: scale(1.1);
}
img.hai{
    width: 280px;
    height: 195px;
    position: relative;
}

span.title{
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
}
a.trang1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(156, 102, 0);
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
a{
    text-decoration: none!important;
}
.role{
    display: flex;
    font-size: 20px;
}
.user{
    display: flex;
    justify-content: center;
}
.time{
    display: inline-flex;
    color: black;
}


i.fas.fa-user.left,
i.fas.fa-clock.left
{
    margin: 5px 0 0 5px;
}
span.time{
    padding: 0 5px 0 5px;
}
h2 {
    font-size: 30px;
    padding: 5px;
}


/*chuyentrang*/


/*css cho trang thứ 2*/
.header{
    width: 80%;
    margin: auto;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.678);
    border-top: none;
    background: rgba(0, 0, 0, 0.5);
}
.header .news{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

a.new h1.title{
    color: orange;
}
a.new h1.new-title{
    color: white;
}
.cen{
    margin-top: 5px;
    justify-content: center;
}
p.to{
    font-size: 30px;
    color: orange;
}
.botom{
    margin-top: 20px;
    border-bottom: 1px solid white;
}
img.pic{
    width: 100%;
    margin-top: 20px;
    height: auto;
}
p.nho{
    font-size: 25px;
    color: white;
}
ul.boder{
    padding: 10px 50px;
    background: white;
    box-shadow: 0 0 16px -1px rgba(0,0,0,.2);
    border-radius: 10px;
    font-size: 25px;
    margin-top: 20px;
}
ul.boder li.bro{
    padding: 0 10px;
    list-style: square;
}
.endtask{
    background: white;
    padding: 5px;
    border-radius: 10px;
    float: right;
    font-size: 20px;
    box-shadow: 0 0 16px -1px rgba(0,0,0,.2);
}
span.tag{
    font-size: 30px;
    color: orange;
}
a.vien{
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    margin: 10px 0 50px 0;
    color: orange;
}
.cach{
    margin: 20px 0;
}
i.fas.fa-user.left {
    color: black;
}
.black{
    border-bottom:1px solid black!important;
}



/*Footer*/

.content1{
  position: relative;
  margin: 130px auto;
  padding: 0 20px;
}
.content1 .textf{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  width: 100%;
  background: #222;
}
.main-content{
    display: flex;
    margin: auto;
    max-width: 1235px;
    color: white;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: orange;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
  color: white;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: orange;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: orange;
}
.center .content .textf{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.right form .textf{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: white;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btnsend{
  margin-top: 10px;
}
.right form .btnsend button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: orange;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btnsend button:hover{
  background: #c37e00;
}
center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
  color: white;
  width: 100%;
  margin: 0 auto;
}
center span{
  color: #656565;
}
center a{
  color: orange;
  text-decoration: none;
}
center a:hover{
  text-decoration: underline;
}
textarea{
    padding: 5px;
    color: white;
    background-color: #151515;
    font-size: 18px;
    align-items: center;
    outline: none;
    width: 100%;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
p.fixxx{
    text-align: center;
    font-size: 15px;
    padding: 10px;  
}
.box-boder a img:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
/*Footer*/
.row{
    margin-left: auto!important;
    margin-right: auto!important;
}
.box-boder{
    width: 250px; height: auto;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.jumbotron{
    padding: 1rem!important;
    border-right: 0;
}

.fa-code{
    color: #e54d26;
}
.fa-bold{
    color: #563d7c;
}
.fa-css3{
    color: #2163af;
}
.fa-code, .fa-bold, .fa-css3{
    font-size: 4em;
    margin: 1rem;
}
svg.svg-inline--fa.fa-code.fa-w-20,
svg.svg-inline--fa.fa-css3.fa-w-16{
    width: 50px;
}
h3{
    line-height: none;
}